django-cors-headers==3.2
django-filter==22.1
djangorestframework==3.14.0
Markdown==3.4.1
djangorestframework-simplejwt==5.2.2
uuid==1.30
reportlab==3.6.12

av~=12.0.0
numpy~=1.20.2
tqdm~=4.64.0
torch~=1.8.1
torchvision~=0.17.1
pycocotools~=2.0.7
sklearn~=0.0
scikit-learn~=1.3.2
matplotlib~=3.7.5
pillow~=10.3.0
opencv-python~=4.9.0.80
pandas~=2.0.3
scipy~=1.5.2
PyYAML~=6.0.1
seaborn~=0.13.2
requests~=2.31.0
Flask~=1.1.2
thop~=0.1.1.post2209072238
Django~=3.2
djangorestframework-jwt~=1.11.0
PyMySQL~=1.1.0
mysqlclient~=2.2.1
supg~=0.0.1
feather~=0.1.2
SWAG~=0.0.1
TASTI~=0.0.1
BlazeIt~=0.0.1
jsonlines~=1.2.0
torchaudio~=2.2.1
tabulate~=0.8.7
numba~=0.58.1
setuptools~=68.2.2
pyclipper~=1.3.0
channels~=4.0.0